html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.header {
	text-align: left;
	white-space: nowrap;
	padding: 10px;
	font: 1em Verdana;
	color: LightCyan;
	background-color: #2d444f;
	width: 100%;
	height: 60px;
}

.content {
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.content .left {
	float: left;
	width: 24%;
}

.content .middle {
	float: left;
	width: 50%;
}

.content .right {
	float: left;
	width: 24%;
}

.footer {
	font: 0.75em normal;
	color: #5e8eab;
	border-top: solid 9px #5e8eab;
	padding: 4px 0;
	margin: 5px 5px 0;
	text-align: center;
	clear: both;
}

.bar {
	height: 5px;
	display: block;
	margin: 2px 1px;
	background-color: red;
}

dl {
	margin: 0;
}

dd a {
	background: url("external.png") no-repeat scroll right center transparent;
	padding-right: 15px;
	text-decoration: none;
}

.toMarker {
	background-color: Khaki;
	border: 1px solid lightGray; 
	margin: 0;
	cursor: help;
}

.selMarker {
	background-color: yellow;
	border: 1px dashed red; 
}

#itemList > dt {
	margin: 0pt 1em;
}